<div class="container">
    <div class="row">
        <div class="span4">
            <% tweet = Tweet.first %>
            <p>From: <%= tweet.zombie.name %></p>
            <p>Status: <%= tweet.status %></p>
        </div>
    </div>
</div>

