<div class="container">
    <div class="row">
        <div class="span4">
        	<% tweets = Tweet.all %>
            <% tweets.each do |tweet| %>
            <div class="tweet">
            	<p>From: <%= tweet.zombie.name %></p>
            	<p>Status: <%= tweet.status %></p>
        	</div>
            <% end %>
            <% if tweets.empty? %>
            	<em>No tweets found</em>
            <% end %>
        </div>
    </div>
</div>

