
<div class="container">
	<div class="row">
		<div class="span8">
			<% zombies = Zombie.all %>
            <% zombies.each do |zombie| %>
                <div><%= link_to zombie.name, zombie %></div>
            <% end %>
            <% if zombies.empty? %>
            	<em>No zombies found</em>
            <% end %>

		</div>
	</div>
</div>